@model IEnumerable<IDEIMusic.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to IDEIMusic</h2>
<h3>Find your Album</h3>

@using (Html.BeginForm())
{
    <p>
        Find by Title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.artistName)
            </td>
            <td>
                <img src="@item.img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
        </tr>
    }

</table>
